<div *ngIf="!isAdminLoggedIn && !isCustomerLoggedIn">
  <nz-header
    class="main-header"
    nz-row
    nzType="flex"
    style="
      background-color: #003973;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div>
      <a
        routerLink="/login"
        style="
          color: white;
          margin-left: 50px;
          font-size: 18px;
          font-weight: bolder;
        "
        >Sell Car Service</a
      >
    </div>
    <div class="nav-links" style="margin-left: auto; margin-right: 50px">
      <a nz-button routerLink="/register" routerLinkActive="active">Sign Up</a>
      <a nz-button routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </nz-header>
</div>

<div *ngIf="isAdminLoggedIn">
  <nz-header
    class="main-header"
    nz-row
    nzType="flex"
    style="
      background-color: #003973;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div>
      <a
        routerLink="/login"
        style="
          color: white;
          margin-left: 50px;
          font-size: 18px;
          font-weight: bolder;
        "
        >Admin</a
      >
    </div>
    <div class="nav-links" style="margin-left: auto; margin-right: 50px">
      <a nz-button routerLink="/admin/dashboard" routerLinkActive="active"
        >Dashboard</a
      >
      <a nz-button (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div>

<div *ngIf="isCustomerLoggedIn">
  <nz-header
    class="main-header"
    nz-row
    nzType="flex"
    style="
      background-color: #003973;
      display: flex;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div>
      <a
        routerLink="/login"
        style="
          color: white;
          margin-left: 50px;
          font-size: 18px;
          font-weight: bolder;
        "
        >Customer</a
      >
    </div>
    <div class="nav-links" style="margin-left: auto; margin-right: 50px">
      <a nz-button routerLink="/customer/dashboard" routerLinkActive="active"
        >Dashboard</a
      >
      <a nz-button routerLink="/customer/post-car" routerLinkActive="active"
        >Post Car</a
      >
      <a nz-button (click)="logout()" routerLinkActive="active">Logout</a>
    </div>
  </nz-header>
</div>
<router-outlet></router-outlet>
