<div class="bg" style="background-color: #f8f8f8">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="parent">
      <div class="child">
        <div class="imgDiv" nz-row>
          <div nz-col nzSpan="24">
            <h1 style="margin-left: 80px">Login</h1>
          </div>
        </div>
        <form nz-form [formGroup]="loginForm">
          <nz-form-item>
            <nz-form-control
              nzHasFeedback
              nzErrorTip="The input is not valid email!"
            >
              <input
                nz-input
                id="email"
                placeholder="Email"
                formControlName="email"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzHasFeedback [nzErrorTip]="errorPass">
              <input
                nz-input
                id="password"
                placeholder="Password"
                type="password"
                formControlName="password"
              />
              <ng-template #errorPass let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Password is required
                </ng-container>
                <ng-container *ngIf="control.hasError('pattern')">
                  Password should contains 8 characters, 1 lowercase, 1
                  uppercase, 1 number and 1 special character
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
            (click)="login()"
          >
            Login
          </button>
          Or <a routerLink="/register">register now</a>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
