<nz-spin [nzTip]="'Loading...'" [nzSpinning]="isSpinning" [nzSize]="'large'">
  <div style="padding: 20px">
    <nz-table
      #basicTable
      [nzData]="bids"
      [nzPageSize]="20"
      [nzShowPagination]="'false'"
    >
      <thead>
        <tr>
          <th style="font-weight: bolder; color: #003973">Car Name</th>
          <th style="font-weight: bolder; color: #003973">Car Brand</th>
          <th style="font-weight: bolder; color: #003973">Sell Name</th>
          <th style="font-weight: bolder; color: #003973">Price</th>
          <th style="font-weight: bolder; color: #003973">Status</th>
          <th style="font-weight: bolder; color: #003973">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let booking of basicTable.data">
          <td>{{ booking.carName }}</td>
          <td>{{ booking.carBrand }}</td>
          <td>{{ booking.sellerName }}</td>
          <td>{{ booking.price | currency : "VND" }}</td>
          <td>
            <strong
              [ngStyle]="{
                color:
                  booking.bidStatus === 'APPROVED'
                    ? 'green'
                    : booking.bidStatus === 'REJECTED'
                    ? 'red'
                    : 'blue'
              }"
            >
              {{ booking.bidStatus }}</strong
            >
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</nz-spin>
